<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<header>
		<a href="/">Home</a>
	</header>
	<body>
		<main>
		<style>
			header {
				background-color: rgba(131, 247, 247, 0.74);
				height: 2rem;
			}
			body {
				height: 100%;
				width: 100%;
				background-color: gray;
			}
		</style>
