<%- include ('partials/header') %>

<h1>Justify</h1>

<h3>Your Message</h3>
<div class="message">
	<p id="msg"><%= msg %></p>
	<p><%= date%></p>
</div>
<%- include ('partials/footer') %>

<style>
	.message {
		margin: 0.6rem;
		padding: 3rem;
		background-color: lightgrey;
		border: black solid 1px;
		border-radius: 1rem;
		overflow: auto;
		overflow-wrap: break-word;
		padding: 1rem;
		margin-left: 2rem;
		max-width: 36rem;
		max-height: 20rem;
		width: fit-content;
		height: fit-content;
	}
</style>
